@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.app-container {
  aspect-ratio: 8 / 17;
  width: 40vmin;
  background-image: url("gradient.png");
  background-size: cover;
  border-radius: 4vmin;
  padding: 1.8vmin;
}

#search-input {
  background-color: transparent;
  font-size: 2.3vmin;
  border: none;
  padding: 5px 10px;
  font-weight: 400;
  caret-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

#search-input:focus {
  outline: none;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#search-form {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

#search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1vmin;
}

#search-button > .fa-magnifying-glass {
  font-size: 1.7vmin;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.5vmin;
}

.region {
  display: flex;
  flex-direction: column;
  margin-top: 3vmin;
  margin-left: 1vmin;
}

#country {
  color: rgb(255, 255, 255, 0.7);
  font-size: 1.6vmin;
  font-weight: 300;
  letter-spacing: 0.15vmin;
}

#city {
  color: white;
  font-size: 3vmin;
  font-weight: 500;
  letter-spacing: 0.1vmin;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherIcon {
  height: 22vmin;
}

#temp {
  margin-top: -2.3vmin;
  color: white;
  font-size: 9vmin;
  font-weight: 700;
}

#temp::after {
  content: "°C";
  font-weight: 400;
}

#weather-desc {
  text-transform: uppercase;
  font-size: 2.2vmin;
  font-weight: 500;
}

#timestamp {
  font-weight: 300;
  color: rgb(255, 255, 255, 0.7);
}

.weather-details {
  margin: 7vmin 3vmin;
}

.suntime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suntime-container {
  display: flex;
  align-items: center;
}

.suntime-container > div {
  display: flex;
  flex-direction: column;
}

.sun-icons {
  height: 3.8vmin;
  margin-right: 1.5vmin;
}

.sun-label {
  font-weight: 300;
  color: rgb(255, 255, 255, 0.7);
}
